<div class="container">
	<p class="text-justify">{{ about.description }}</p>

	<div class="row">
		<h3>Find us here</h3>
		<iframe width="100%" height="350px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=10%2C%201%20Chome%2C%20Shibahinotsume%2C%2027%2C%20Kawaguchi%2C%20Saitama%20Prefecture%2C%20Japan&key=AIzaSyDHrhDYtSEuRM_2iaFCo4iTydZU7WeGz0s"></iframe>
	</div>

	<h3>People</h3>
	{% for founder in about.founders %}
		{% include "founder_card.html" %}
	{% endfor %}
</div>
