<div class="col-md-12 text-center founder-card">
	<div class="row">
		<img src={{founder.image}} class="img-circle" alt="Timx Founder" style="height:150px" />
	</div>	
	<div class="row" style="margin-top: 10px">
		<div class="social">
			<a href={{ founder.social.facebook }} class="btn btn-fab btn-raised btn-material-blue"><i class="fa fa-facebook"></i></a>
	    	<a href={{ founder.social.google }} class="btn btn-fab btn-raised btn-material-red"><i class="fa fa-google-plus"></i></a>	
		</div>	
		<div class="description">
			<h4>{{founder.title }}</h4>
			<p>{{ founder.description }}</p>		
		</div>		
	</div>	
</div>