<!DOCTYPE html>
<html>
	<head>
		<title>Timx</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
		<link href="public/css/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<nav>
				<ul class="nav navbar-nav">
					<li role="presentation" class="active"><a href="/">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/project">Projects</a></li>
					<li><a href="/about">About</a></li>
		        </ul>
			</nav>			
		</div>

		<div class="container">
			{% if task == 'main' %}
				{% include "main.html" %}
			{% endif %}
			{% if task == 'project' %}
				{% include "project.html" %}
			{% endif %}
			{% if task == 'about' %}
				{% include "about.html" %}
			{% endif %}
		</div>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"/>
	</body>
</html>