<!DOCTYPE html>
<html>
	<head>
		<title>Timx</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#3f51b5">
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material.min.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="public/css/main.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">timX</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						{% if 'project' in task %}
							<li class="active"><a href="/project">Project</a></li>
							<li><a href="/about">About</a></li>
						{% else %}
							{% if 'about' in task %}
								<li><a href="/project">Project</a></li>
								<li class="active"><a href="/about">About</a></li>
							{% else %}
								<li><a href="/project">Project</a></li>
								<li><a href="/about">About</a></li>
							{% endif %}
						{% endif %}

					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="main">
			{% if task == 'main' %}
				{% include "main.html" %}
			{% endif %}
			{% if task == 'project' %}
				{% include "project.html" %}
			{% endif %}
			{% if task == 'about' %}
				{% include "about.html" %}
			{% endif %}
		</div>

		<footer>{{ year }}</footer>

		<!--Dependencies Bootstrap -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/ripples.min.js"/>

		<script type="text/javascript">
			$.material.ripples();
		</script>
	</body>
</html>
