 <style>
    body { 
        margin: 0;
        overflow: hidden;
    }
    
    canvas {
        height: 100%;
        width: 100%;
    }
</style>

<div id="button_input_file" class="fixed-action-btn">
    <input type="file" id="selectedFile" style="display: none;" />
    <a class="btn-floating btn-large red" onclick="document.getElementById('selectedFile').click();">
    <i class="large material-icons">perm_media</i>
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="../public/pcd/vendor.js"></script>
<script src="../public/pcd/bundle.js"></script>